<form class="search-bar">
  <mat-form-field appearance="outline" class="search-gene">
    <mat-label for="search-box">Gene</mat-label>
    <input
      matInput
      aria-label="Gene"
      #searchGene
      id="search-gene-input"
      placeholder="Pick one"
      (keyup)="searchGeneInput(searchGene.value)"
      type="search"
      [matAutocomplete]="autoSecond" />
    <mat-autocomplete #autoSecond="matAutocomplete">
      @if (resultGene$ | async; as resultGene) {
        @if (resultGene.length > 0) {
          @for (one of resultGene; track one) {
            <mat-option [value]="one.name" (click)="navTo(one)">
              <div mat-line>
                {{ one.name }}
                @if (one.gene) {
                  ({{ one.gene }})
                }
              </div>
              <span mat-line class="no-match">
                {{ one.abbreviation }}:{{ one.chromosome }}</span
              >
            </mat-option>
          }
        } @else {
          <mat-option>
            <mat-icon>error</mat-icon>
            <div mat-line>0 results</div>
            <span mat-line class="no-match">
              No matching presidents found (keywords must contain at least 3
              characters)
            </span>
          </mat-option>
        }
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
