<form class="search-bar">
  <mat-form-field appearance="outline" class="search-gene">
    <mat-label for="search-box">Gene</mat-label>
    <input
      matInput
      aria-label="Gene"
      #searchGene
      id="search-gene-input"
      placeholder="Pick one"
      (keyup)="searchGeneInput(searchGene.value)"
      type="search"
      [matAutocomplete]="autoSecond" />
    <mat-autocomplete #autoSecond="matAutocomplete">
      @for (one of resultGene$ | async; track one) {
        <mat-option [value]="one" (click)="navTo(one)">
          <div mat-line>{{ one }}</div>
        </mat-option>
      }
      <!-- @if ((resultGene$ | async)?.length === 0) {
        <mat-option>
          <mat-icon>error</mat-icon>
          <div mat-line>0 results</div>
          <div mat-line class="no-match">No matching presidents</div>
        </mat-option>
      } -->
    </mat-autocomplete>
  </mat-form-field>
</form>
