@media (max-width: 720px) {
  .search-form mat-form-field + mat-form-field {
    margin-left: 0;
  }

  .search-form {
    flex-direction: column;
  }
  .search-bar, .select-bar {
    width: 100%;
  }

}

.no-match {
  font-size: 0.8rem;
  color: gray;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.search-form mat-form-field + mat-form-field {
  margin-left: 8px;
}

.search-bar {
  width: 80%;
}
.select-bar {
  width: 20%;
}
