@use "@angular/material" as mat;


@mixin theme($theme) {

    .shared-navbar-header {
      background: mat.get-theme-color($theme, primary-fixed-dim);
      .shared-navbar-header-item-selected {
        background: rgba(mat.get-theme-color($theme, primary-fixed-dim), 0.1);
      }
      .shared-navbar-show-small {
        color: mat.get-theme-color($theme, primary);
      }
    }
    .shared-navbar {
      background-color: mat.get-theme-color($theme, primary-fixed);
    }
  }

