<button nz-button (click)="scrollToIndex(200)">Scroll To Index 200</button>

<br />
<br />

<nz-table
  #virtualTable
  [nzBordered]="true"
  [nzVirtualItemSize]="20"
  [nzData]="listOfDisplayData"
  [nzLoading]="loading"
  [nzVirtualForTrackBy]="trackByIndex"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ x: '100vw', y: '70vh' }"
  class="table-viewport">
  <thead>
    <tr>
      <!-- <th nzLeft>name</th> -->
      <!-- <th nzLeft>seqname</th> -->
      <th nzLeft>Start</th>
      <!-- <th>T2</th> -->
      <!-- <th>T3</th> -->
      <th>End</th>
      <th>Number of tetrads</th>
      <th>G-Score</th>
      <th>SEQ</th>
      <th nzCustomFilter>
        gene
        <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>
        <!-- <td nzLeft>{{ data.name }}</td> -->
        <!-- <td nzLeft>{{ data.seqname }}</td> -->
        <td nzLeft>{{ data.T1 }}</td>
        <!-- <td>{{ data.T2 }}</td> -->
        <!-- <td>{{ data.T3 }}</td> -->
        <td>{{ data.T4 + data.TS }}</td>
        <td>{{ data.TS }}</td>
        <td>{{ data.GS }}</td>
        <td nzBreakWord>
          <a
            (click)="this.onClick(data.T1 + '..' + (data.T4 + data.TS))"
            tabindex="0"
            (keydown.enter)="
              this.onClick(data.T1 + '..' + (data.T4 + data.TS))
            ">
            <span class="highlight">{{ data.SEQ.slice(0, data.TS) }}</span>
            <span>{{ data.SEQ | slice: data.TS : -data.TS }}</span>
            <span class="highlight">{{ data.SEQ | slice: -data.TS }}</span>
          </a>
        </td>
        <td>{{ data.gene }}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search gene"
        [(ngModel)]="searchValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<!-- <button mat-raised-button color="primary" (click)="g4()">show</button> -->
