<button nz-button (click)="scrollToIndex(200)">Scroll To Index 200</button>
<!-- <button
  (click)="isOpen = !isOpen"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
  {{ isOpen ? 'Close' : 'Open' }}
</button> -->

<!-- This template displays the overlay content and is connected to the button -->
<!-- <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen">
  <div class="example-box" cdkDrag>
    <app-jbrowse
      [abbreviation]="this.abbreviation"
      [locString]="this.locString"></app-jbrowse>

    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="none" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
</ng-template> -->

<br />
<br />

<nz-table
  #virtualTable
  [nzBordered]="true"
  [nzVirtualItemSize]="20"
  [nzData]="listOfData"
  [nzLoading]="loading"
  [nzVirtualForTrackBy]="trackByIndex"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ x: '1200px', y: '50vh' }"
  class="table-viewport">
  <thead>
    <tr>
      <!-- <th nzLeft>name</th> -->
      <!-- <th nzLeft>seqname</th> -->
      <th nzLeft>Start</th>
      <!-- <th>T2</th> -->
      <!-- <th>T3</th> -->
      <th>End</th>
      <th>Number of tetrads</th>
      <th>G-Score</th>
      <th>SEQ</th>
      <th>gene</th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>
        <!-- <td nzLeft>{{ data.name }}</td> -->
        <!-- <td nzLeft>{{ data.seqname }}</td> -->
        <td nzLeft>{{ data.T1 }}</td>
        <!-- <td>{{ data.T2 }}</td> -->
        <!-- <td>{{ data.T3 }}</td> -->
        <td>{{ data.T4 + data.TS }}</td>
        <td>{{ data.TS }}</td>
        <td>{{ data.GS }}</td>
        <td nzBreakWord>
          <a
            (click)="this.onClick(data.T1 + '..' + (data.T4 + data.TS))"
            tabindex="0"
            (keydown.enter)="
              this.onClick(data.T1 + '..' + (data.T4 + data.TS))
            ">
            <span class="highlight">{{ data.SEQ.slice(0, data.TS) }}</span>
            <span>{{ data.SEQ | slice: data.TS : -data.TS }}</span>
            <span class="highlight">{{ data.SEQ | slice: -data.TS }}</span>
          </a>
        </td>
        <td>{{ data.gene }}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<!-- <button mat-raised-button color="primary" (click)="g4()">show</button> -->
