<header
  class="docs-header-background"
  aria-label="Get started"
  id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1 text-shadow">G4 Vista</h1>
      <h2 class="text-shadow">
        query quadruplex forming G-rich sequences in nucleotide sequences
      </h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/genome"
        >Get started</a
      >
    </div>
  </div>
  <app-logo class="docs-homepage-logo" />
</header>
<main class="docs-homepage-promo">
  <div class="docs-homepage-row docs-introduction">
    <div class="docs-homepage-row-column">
      <h2 class="text-shadow">High quality</h2>
      <p>
        Internationalized and accessible function for everyone. Well tested to
        ensure performance and reliability.
      </p>
      <p>Straightforward APIs with consistent cross platform behaviour.</p>
    </div>
    <div class="docs-homepage-row-column">
      <h2 class="text-shadow">Versatile</h2>
      <p>
        Provide tools that help users build their own custom results with common
        interaction patterns.
      </p>
      <p>Customizable within the bounds of the Design specification.</p>
    </div>
    <div class="docs-homepage-row-column">
      <h2 class="text-shadow">Visualization</h2>
      <p>
        Built by the Medical AI Center to integrate seamlessly with Angular.
      </p>
      <p>
        This database includes graphical representations of G4 density,
        showcasing variations across different window sizes and G4 patterns.
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="docs-homepage-featured-components docs-homepage-carousel-row">
    <div class="docs-homepage-header">
      <h2>Featured Function</h2>
    </div>
    <nz-carousel nzAutoPlay>
      @for (index of array; track index) {
        <div nz-carousel-content>
          <img [src]="index.src" alt="Featured function image" class="img" />
          <h3 class="img-title">{{ index.name }}</h3>
        </div>
      }
    </nz-carousel>
  </div>
</main>
<app-footer></app-footer>
