.spinner {
  position: absolute;
}
.spinner-text {
  position: absolute;

}
.chart-settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}
mat-error {
  width: max-content;
}
.slider-value-continer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chart-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

