<div class="chart-container chart-container-column">
  @if (isLoading) {
    <div class="spinner">
      <mat-spinner></mat-spinner>
      <h1>Chart Loading...</h1>
    </div>
  }
  <div
    id="vega-view"
    class="vega-container"
    (wheel)="onWheel($event)"
    #vega></div>

  <div class="chart-settings chart-settings-container">
    <mat-form-field appearance="outline">
      <mat-label>Bin step size(bp)</mat-label>
      <input
        matInput
        type="number"
        [min]="1"
        [max]="chromosome.length"
        required
        [value]="defaultStepSize"
        placeholder="{{ defaultStepSize }}"
        [formControl]="stepSizeFormControl"
        #step />
      @if (
        stepSizeFormControl.hasError('min') &&
        !stepSizeFormControl.hasError('required')
      ) {
        <mat-error
          >The input value must be greater than or equal to
          <strong>1</strong></mat-error
        >
      }
      @if (
        stepSizeFormControl.hasError('max') &&
        !stepSizeFormControl.hasError('required')
      ) {
        <mat-error
          >The input value must be less than or equal to
          <strong>{{ chromosome().length }}</strong></mat-error
        >
      }
      @if (
        stepSizeFormControl.hasError('pattern') &&
        !stepSizeFormControl.hasError('required')
      ) {
        <mat-error>The input value must be an integer</mat-error>
      }
      @if (stepSizeFormControl.hasError('required')) {
        <mat-error>Value is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <div class="slider-value-continer">
      <span class="slider-value-title">Bin</span>
      <span>{{ binStepSlider.value }}bp</span>
    </div>
    <mat-slider
      min="{{ step.value }}"
      max="{{ chromosome().length }}"
      step="{{ step.value }}">
      <input
        matSliderThumb
        #binStepSlider
        [value]="defaultStepSize"
        id="binStepSlider" />
    </mat-slider>

    <mat-form-field appearance="outline">
      <mat-label>Number of tetrads</mat-label>
      <mat-select
        multiple
        [value]="chromosome().layers_list"
        [formControl]="toppings"
        (selectionChange)="onSelectChange()">
        @for (topping of chromosome().layers_list; track topping) {
          <mat-option [value]="topping">{{ topping }} Tetrads</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="exportTsv()">Export TSV</button>
  </div>
</div>
