<div class="main">
  <h1 class="title">Genome</h1>
  <p class="p">Search by taxonomic name or ID, Assembly name</p>

  <app-search-bar class="search-bar"></app-search-bar>
  <div class="example-list">
    <span class="p">Try examples: </span>
    @for (example of examples; track $index) {
      <a mat-button [routerLink]="['/genome', example.abbreviation]">{{
        example.name
      }}</a>
    }
  </div>
  <mat-divider></mat-divider>
  <div class="statistic">
    <nz-row [nzGutter]="[24, 24]">
      <nz-col [nzSpan]="6">
        <nz-statistic
          [nzValue]="(3184 | number)!"
          nzTitle="Genome Count"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="(71338188 | number)!"
          nzTitle="G4s Count"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="6">
        <nz-statistic
          [nzValue]="(11169334 | number)!"
          nzTitle="Gene count"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="10">
        <img src="images/taxonomy.png" alt="Taxonomy" class="img" />
      </nz-col>
      <nz-col [nzSpan]="14">
        <img src="images/table.png" alt="Assembly" class="img" />
      </nz-col>
    </nz-row>
  </div>
</div>
