<div class="button-container">
  <button mat-fab extended (click)="openDialog((isOpen = !isOpen))">
    <mat-icon>
      {{ isOpen ? 'visibility_off' : 'visibility' }}
    </mat-icon>
    Jbrowse
  </button>
</div>

<app-chart></app-chart>

<ng-template>
  <div
    class="example-dialog-content"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    [ngStyle]="{ display: isOpen ? 'flex' : 'none' }">
    <app-jbrowse
      [abbreviation]="this.abbreviation"
      [locString]="this.locString"></app-jbrowse>
    <div class="example-handle" cdkDragHandle>
      <svg height="32px" fill="none" viewBox="0 0 24 24"></svg>
    </div>
  </div>
</ng-template>

<app-g4-table
  [abbreviation]="this.abbreviation"
  [locString]="this.locString"></app-g4-table>
